<div class="container">
  <div class="row">
    <div class="new_and_edit">
      <h1>新規投稿</h1>

      <%= render 'form', picture: @picture %>

      <%= link_to 'Back', pictures_path, class: "back" %>
    </div>
  </div>
</div>
